---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Presentation from '../components/Presentation.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<Presentation/>
	</main>
</Layout>

<style>
</style>
