---
import { Icon } from "astro-icon/components";

---

<footer class="bg-primary mt-[3rem] pt-[.5rem] pb-[1rem]">
    <div class="container flex flex-col md:flex-row items-center justify-between">
        <h2 class="text-[1rem] text-[#000] text-center">Rey Halsall @reduhq • 2024</h2>
        <div class="flex gap-[1rem] justify-center my-[.5rem]">
            <a target="_blank" href="https://github.com/reduhq"><Icon name="mdi:github" size={30} color={'#000'}/></a>
            <a target="_blank" href="https://www.linkedin.com/in/rey-halsall/"><Icon name="mdi:linkedin" size={30} color={'#000'}/></a>
        </div>
    </div>
</footer>