---
import { Icon } from 'astro-icon/components'
---


<section class="container">
    <div class="flex flex-col gap-[1rem] md:flex-row">
        <div class="grow-[1] p-[1rem]">
            <img class="rounded-full w-[40rem] m-auto" src="/portfolio/profile-picture.png" alt="Rey Eduardo Halsall Quintero">
        </div>
        <div class="grow-[2] w-[100%] flex flex-col justify-center">
            <h3 class="text-primary text-[1.5rem] font-bold">Backend developer</h3>
            <h1 class="text-[3rem] leading-[3.5rem] font-bold">Hello, I'M Rey <span class="block relative text-primary after:w-[5rem] after:h-[1px] after:bg-primary after:absolute after:bottom-0 after:left-0">Halsall</span></h1>
            <p class="pt-[.5rem]">I’m a backend developer with notable skills in constructing efficient and robust systems, experienced in server-side logic, database optimizacion, and API implementation. </p>
            <div class="mt-[1rem]">
                <button class="btn-cv bg-primary text-[#000] py-[.5rem] px-[1.5rem] rounded-[.5rem]">Download CV</button>
                <button class="btn-contact border-primary border-[1px] py-[.5rem] px-[1.5rem] rounded-[.5rem] ml-[.5rem] text-primary">Contact Info</button>
            </div>
            <div class="flex gap-[.5rem] mt-[1rem]">
                <a class="border-[1px] border-primary rounded-full p-[.5rem] " target="_blank" href="https://github.com/reduhq"><Icon name="mdi:github" size={25}/></a>
                <a class="border-[1px] border-primary rounded-full p-[.5rem] " target="_blank" href="https://www.linkedin.com/in/rey-halsall/"><Icon name="mdi:linkedin" size={25}/></a>
            </div>
        </div>
    </div>
    <div class="pt-[1rem] moving-div">
        <Icon name="mdi:chevron-down" size={40} class="m-auto"/>
    </div>
</section>

<style>
    .moving-div {
        position: relative;
        animation: moveUpDown 1.5s linear infinite;
    }

    @keyframes moveUpDown {
        0% {
            top: 0;
        }
        50% {
            top: .5rem;
        }
        100% {
            top: 0;
        }
    }

    img{
        border: 1px solid #14d4c9;
        box-shadow: 
            0 0 10px #14d4c9;
        transition: .3s;
    }

    img:hover{
        transform: scale(1.05);
        box-shadow: 
            0 0 25px #14d4c9,
            0 0 50px #14d4c9;
    }

    .btn-cv{
        transition: .3s;
    }

    .btn-cv:hover{
        color: #fff;
        box-shadow: 
            0 0 25px #14d4c9,
            0 0 50px #14d4c9;
    }

    .btn-contact{
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: color .5s, box-shadow .3s;
    }
    
    .btn-contact:hover{
        transition-delay: 0s, .1s;
        color: #fff;
        box-shadow: 
            0 0 25px #14d4c9,
            0 0 50px #14d4c9;
    }

    .btn-contact::before{
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 0;
        height: 100%;
        background: #14d4c9;
        transform: skewX(35deg);
        z-index: -1;
        transition: .3s;
    }

    .btn-contact:hover::before{
        width: 100%;
    }

    a{
        transition: .3s;
    }
    
    a:hover{
        transform: scale(1.1);
        background: #14d4c9;
        box-shadow: 
            0 0 25px #14d4c9,
            0 0 50px #14d4c9;
    }
</style>