
<section class="mt-[2rem] text-[1.5rem]">
    <div class="container">
        <h2 class="text-center">Skills</h2>
        <div>
            <ul>
                
            </ul>
        </div>
    </div>
</section>